@model QuanLyThuVien.Models.Publisher

@{
    ViewData["Title"] = "Create";
}
<h1>Thêm mới nhà xuất bản</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PublisherId" />
            <div class="form-group">
                <label class="control-label">Tên nhà xuất bản</label>
                <input asp-for="PublisherName" class="form-control" />
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số điện thoai</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" /> |
                <a class="btn btn-secondary" asp-action="Index">Quay về</a>
            </div>
        </form>
    </div>
</div>
